@model IEnumerable<ProductGetDto>
@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    string name = ViewBag.Name ?? "";
    int categoryId = ViewBag.CategoryId ?? -1;
}

<div id="modal-section">
</div>

<div class="container-fluid mt-5">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary text-center text-center mb-3 border-bottom-primary">Ürünler</h5>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ürünler</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between align-items-center p-2">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control bg-light small" placeholder="Aramak için kullan.." value="@name">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="buttons">
                    <a id="btn-product-add" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Yeni Ekle</a>
                </div>
            </div>
            @if (Model.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Görsel</th>
                                <th>Kategori</th>
                                <th>Ürün Adı</th>
                                <th>Kayıt Tarihi</th>
                                <th>Düzenleme Tarihi</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="@item.Photo" width="50" height="50" style="border-radius:50%" alt="@item.Name" />
                                    </td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Name</td>
                                    <td>@item.CreatedDate.ToShortDateString()</td>
                                    <td>@item.ModifiedDate.ToShortDateString()</td>
                                    <td>
                                        <status status="@item.Status"></status>
                                    </td>
                                    <td>
                                        <action-buttons status="@item.Status" delete-button-url="/Admin/Product/Delete?productId=@item.Id"
                                                        is-edit-active="false" activate-button-url="/Admin/Product/Activate?productId=@item.Id"></action-buttons>
                                        <a data-id="@item.Id" id="btn-product-edit" class="btn btn-warning btn-sm btn-product-edit"> <i>Düzenle</i> </a>
                                    </td>
                                </tr>
                            }
                        </thead>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-danger d-flex flex-column justify-content-center align-items-center">
                    <h6> Sonuç Bulunamadı </h6>
                    <a href="/Admin/Product" class="btn btn-light">Geri Dön</a>
                </div>
            }
        </div>
    </div>
</div>

@section script{

    <script>

        function confirmDelete() {
            return confirm('Silmek İstediğine Emin Misin?')
        }

        const modalDiv = $('#modal-section')
        const url = '/Admin/Product/Add'

        $('#btn-product-add').click(function () {
            $.get(url).done(function (data) {
                modalDiv.html(data)
                modalDiv.find(".modal").modal('show')
                $('#validation-div').hide()
            })
        })

        modalDiv.on('click', '#btnSave', () => {

            $('#product-add-form').append(`<div class="spinner-border text-primary" role="status">
                                                                                                                      <span class="sr-only">Loading...</span>
                                                                                                                    </div>`)
            let file = $("#image-file").get(0).files;
            let data = new FormData
            data.append("Image", file[0])
            data.append("Name", $('#product-name').val())
            data.append("CategoryId", $('#product-category').val())
            data.append("Status", $('#product-status').val())
            $.ajax({
                type: "POST",
                url: "/Admin/Product/Add",
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.isValid === false) {
                        $('.spinner-border').remove()
                        $('#validation-div').empty()
                        result.errors.forEach(error => {
                            $('#validation-div').append(`<p> ${error.errorMessage} </p>`)
                        })

                        $('#validation-div').slideDown()
                        return;
                    }
                    setTimeout(() => {
                        window.location.reload()
                    }, 100)
                }
            })
        })

        $('.btn-product-edit').click(function () {
            const id = $(this).data("id")
            const urlEdit = '/Admin/Product/Update?productId=' + id
            $.get(urlEdit).done(function (data) {
                modalDiv.html(data)
                modalDiv.find(".modal").modal('show')
                $('#validation-div').hide()
            })
        })

        modalDiv.on('click', '#btnUpdate', () => {


            $('#product-add-form').append(`<div class="spinner-border text-primary" role="status">
                                                                                                                      <span class="sr-only">Loading...</span>
                                                                                                                    </div>`)

            let file = $("#image-file").get(0).files;
            let data = new FormData
            data.append("Id", $('#productId').val())
            data.append("Image", file[0])
            data.append("Name", $('#product-name').val())
            data.append("CategoryId", $('#product-category').val())
            data.append("Status", $('#product-status').val())
            $.ajax({
                type: "POST",
                url: "/Admin/Product/Update",
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.isValid === false) {
                        $('#validation-div').empty()
                        result.errors.forEach(error => {
                            $('#validation-div').append(`<p> ${error.errorMessage} </p>`)
                        })
                        $('#validation-div').slideDown()
                        return;
                    }
                    setTimeout(() => {
                        $('.spinner-grow').remove()
                        window.location.reload()
                    }, 100)
                }
            })
        })

    </script>

}
